


@tailwind base;

html {
  font-family: sans-serif;

}
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

.button{
    @apply  .text-white .no-underline .rounded-lg .text-sm .py-2 .px-5;
    box-shadow: 0 2px 7px 0 #b0eaff;
 }

  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

 .p{
    @apply .text-lg;
 }
 
 .card {
    @apply .bg-white .p-2 .rounded-lg .shadow-lg;
 }
 .img_card {
    @apply .card w-3;
 }
 .img_fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

.form_label {
     @apply  .text-gray-700 .font-bold ;
  }
 
.pending {
    @apply .text-orange-500 .font-bold ;
}

@tailwind utilities;


