


@tailwind base;

html {
  font-family: sans-serif;

}
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

.button{
    @apply  .text-white .no-underline .rounded-lg .text-sm .py-2 .px-5;
    box-shadow: 0 2px 7px 0 #b0eaff;
 }

  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-manza {
    background-color: #8C2E51;
    @apply text-white;
  }
  .btn-manza:hover {
    background-color: #e46f9a;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }

 .p{
    @apply .text-lg;
 }
 
 .card {
    @apply .bg-white .p-2 .rounded-lg .shadow-lg;
 }
 .img_card {
    @apply .card w-3;
 }
 .img_fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
.manza-red{
  color:#8C2E51;
}
.form_label {
     @apply  .text-gray-700 .font-bold ;
  }
 
.pending {
    @apply .text-orange-500 .font-bold ;
}

.td {
  @apply .py-4 .px-6 .border-b .border-r ;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@tailwind utilities;


